In [1]:
import pandas as pd
import numpy as np

In [2]:
contacts = pd.read_csv('contacts.csv')
contacts_df = pd.DataFrame(contacts)
contacts_df.head()

   contact_id               name                         email
0        4661    Cecilia Velasco  cecilia.velasco@rodrigues.fr
1        3765      Mariana Ellis       mariana.ellis@rossi.org
2        4187        Sofie Woods       sofie.woods@riviere.com
3        4941  Jeanette Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel Sorgatz      samuel.sorgatz@gmail.com

In [3]:
crowdfunding_campaigns = pd.read_csv('crowdfunding.csv')
crowdfunding_df = pd.DataFrame(crowdfunding_campaigns)
crowdfunding_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [4]:
contacts.dtypes

contact_id     int64
name          object
email         object
dtype: object

In [5]:
crowdfunding_campaigns.dtypes

cf_id                       int64
contact_id                  int64
company_name               object
blurb                      object
goal                        int64
pledged                     int64
outcome                    object
backers_count               int64
country                    object
currency                   object
launched_at                 int64
deadline                    int64
staff_pick                   bool
spotlight                    bool
category & sub-category    object
dtype: object

In [6]:
# Convert the goal and pledged columns to a `float` data type.
crowdfunding_df[["goal","pledged"]] = crowdfunding_df[["goal","pledged"]].astype(float)
crowdfunding_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [7]:
# Converting Dates

from datetime import datetime as dt
crowdfunding_df["launched_at"] = pd.to_datetime(crowdfunding_df["launched_at"],unit='s').dt.strftime('%Y-%m-%d')
crowdfunding_df["deadline"] = pd.to_datetime(crowdfunding_df["deadline"],unit='s').dt.strftime('%Y-%m-%d')
crowdfunding_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13,2021-03-01,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25,2021-05-25,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17,2021-12-30,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21,2022-01-17,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21,2021-08-23,False,False,theater/plays

In [8]:
# Splitting Names And Dropping the Name Header
#split names
contacts_df['first_name'] = contacts_df['name'].str.split().str[0]
contacts_df['last_name'] = contacts_df['name'].str.split().str[-1]

contacts_df.drop('name', axis=1, inplace=True)

contacts_df.head()

   contact_id                         email first_name last_name
0        4661  cecilia.velasco@rodrigues.fr    Cecilia   Velasco
1        3765       mariana.ellis@rossi.org    Mariana     Ellis
2        4187       sofie.woods@riviere.com      Sofie     Woods
3        4941   jeanette.iannotti@yahoo.com   Jeanette  Iannotti
4        2199      samuel.sorgatz@gmail.com     Samuel   Sorgatz

In [9]:
# Assign the category and subcategory values to category and subcategory columns.
crowdfunding_df[["category","subcategory"]] = crowdfunding_df["category & sub-category"].str.split('/', n=1, expand=True)
crowdfunding_df.head(10)

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13,2021-03-01,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25,2021-05-25,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17,2021-12-30,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21,2022-01-17,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21,2021-08-23,False,False,theater/plays,theater,plays
5,2057,5650,Harris Group,Open-source optimizing database,7600.0,13195.0,successful,174,DK,DKK,2020-12-11,2021-08-29,False,False,theater/plays,theater,plays
6,1894,5889,"Ortiz, Coleman and Mitchell",Operative upward-trending algorithm,5200.0,1090.0,failed,18,GB,GBP,2020-07-31,2021-05-11,False,False,film & video/documentary,film & video,documentary
7,2669,4842,Carter-Guzman,Centralized cohesive challenge,4500.0,14741.0,successful,227,DK,DKK,2020-12-22,2021-09-21,False,False,theater/plays,theater,plays
8,1114,3280,Nunez-Richards,Exclusive attitude-oriented intranet,110100.0,21946.0,live,708,DK,DKK,2020-04-08,2021-03-10,False,False,theater/plays,theater,plays
9,970,5468,"Rangel, Holt and Jones",Open-source fresh-thinking model,6200.0,3208.0,failed,44,US,USD,2021-08-13,2021-08-31,False,False,music/electric music,music,electric music

In [10]:
# Get the unique categories and subcategories in separate lists.
categories = crowdfunding_df['category'].unique().tolist()
subcategories = crowdfunding_df['subcategory'].unique().tolist()

In [15]:
# Create numpy arrays that have 1-10 for the category_ids and 1-25 for the subcategory_ids.
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

# Use a list comprehension to add "cat0" to each category_id. 
cat_ids = ["cat0" + str(cat_id) for cat_id in category_ids]

# Use a list comprehension to add "scat0" to each subcategory_id. 
scat_ids = ["sub_cat0" + str(scat_id) for scat_id in subcategory_ids ]

print(cat_ids)
print(scat_ids)

['cat01', 'cat02', 'cat03', 'cat04', 'cat05', 'cat06', 'cat07', 'cat08', 'cat09']
['sub_cat01', 'sub_cat02', 'sub_cat03', 'sub_cat04', 'sub_cat05', 'sub_cat06', 'sub_cat07', 'sub_cat08', 'sub_cat09', 'sub_cat010', 'sub_cat011', 'sub_cat012', 'sub_cat013', 'sub_cat014', 'sub_cat015', 'sub_cat016', 'sub_cat017', 'sub_cat018', 'sub_cat019', 'sub_cat020', 'sub_cat021', 'sub_cat022', 'sub_cat023', 'sub_cat024']

In [16]:
# Create a category DataFrame with the cat_ids array as the category_id and categories list as the category name.
category_df = pd.DataFrame({
    "category_id": cat_ids,
    "category" : categories
})
# Create a subcategory DataFrame with the scat_ids array as the subcategory_id and subcategories list as the subcategory name.
subcategory_df = pd.DataFrame({
    "subcategory_id": scat_ids,
    "subcategory" : subcategories
})

category_df.head(10)

  category_id      category
0       cat01          food
1       cat02         music
2       cat03    technology
3       cat04       theater
4       cat05  film & video
5       cat06    publishing
6       cat07         games
7       cat08   photography
8       cat09    journalism

In [17]:
subcategory_df.head(10)

  subcategory_id     subcategory
0      sub_cat01     food trucks
1      sub_cat02            rock
2      sub_cat03             web
3      sub_cat04           plays
4      sub_cat05     documentary
5      sub_cat06  electric music
6      sub_cat07           drama
7      sub_cat08      indie rock
8      sub_cat09       wearables
9     sub_cat010      nonfiction

In [18]:
# Merge the campaign_df with the category_df on the "category" column and 
# the subcategory_df on the "subcategory" column.
crowdfunding_merged_df = crowdfunding_df.merge(category_df, on='category', how='left').merge(subcategory_df, on='subcategory', how='left')
crowdfunding_merged_df.tail(10)

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory,category_id,subcategory_id
990,1561,5500,Ortiz-Roberts,Devolved foreground customer loyalty,7800.0,6839.0,failed,64,US,USD,2021-06-09,2021-06-18,False,True,film & video/drama,film & video,drama,cat05,sub_cat07
991,2632,3494,Ramirez LLC,Reduced reciprocal focus group,9800.0,11091.0,successful,241,US,USD,2020-12-09,2021-05-26,False,True,music/rock,music,rock,cat02,sub_cat02
992,439,3924,Morrow Inc,Networked global migration,3100.0,13223.0,successful,132,US,USD,2020-06-14,2021-02-09,False,True,film & video/drama,film & video,drama,cat05,sub_cat07
993,461,3521,Erickson-Rogers,De-engineered even-keeled definition,9800.0,7608.0,canceled,75,IT,EUR,2021-07-03,2021-07-08,False,True,photography/photography books,photography,photography books,cat08,sub_cat015
994,1419,5262,"Leach, Rich and Price",Implemented bi-directional flexibility,141100.0,74073.0,failed,842,US,USD,2021-11-15,2021-12-07,False,True,publishing/translations,publishing,translations,cat06,sub_cat019
995,2986,3684,Manning-Hamilton,Vision-oriented scalable definition,97300.0,153216.0,successful,2043,US,USD,2020-12-29,2021-05-30,False,True,food/food trucks,food,food trucks,cat01,sub_cat01
996,2031,5784,Butler LLC,Future-proofed upward-trending migration,6600.0,4814.0,failed,112,US,USD,2021-10-15,2021-11-30,False,False,theater/plays,theater,plays,cat04,sub_cat04
997,1627,1498,Ball LLC,Right-sized full-range throughput,7600.0,4603.0,canceled,139,IT,EUR,2021-11-06,2021-12-10,False,False,theater/plays,theater,plays,cat04,sub_cat04
998,2175,6073,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600.0,37823.0,failed,374,US,USD,2020-10-08,2021-04-11,False,True,music/indie rock,music,indie rock,cat02,sub_cat08
999,1788,4939,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100.0,62819.0,canceled,1122,US,USD,2020-12-30,2021-08-18,False,False,food/food trucks,food,food trucks,cat01,sub_cat01

In [21]:
# rename the "blurb", "launched_at", and "deadline" columns
crowdfunding_df = crowdfunding_df.rename(columns={'launched_at': 'launch_date', 'blurb':'description', 'deadline': 'end_date'})
crowdfunding_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13,2021-03-01,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25,2021-05-25,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17,2021-12-30,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21,2022-01-17,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21,2021-08-23,False,False,theater/plays,theater,plays

In [22]:
contacts_df.to_csv("contacts_transformed.csv", encoding='utf8', index=False)
crowdfunding_df.to_csv("crowdfunding_transformed.csv", encoding='utf8', index=False)
category_df.to_csv("category.csv", encoding='utf8', index=False)
subcategory_df.to_csv("subcategory.csv", encoding='utf8', index=False)