In [1]:
import pandas as pd
import json
#test

In [2]:
crowdfunding_data_to_read = "crowdfunding.xlsx"

In [3]:
contacts_data_to_read = "contacts.xlsx"

In [4]:
crowdfunding_data = pd.read_excel(crowdfunding_data_to_read)
crowdfunding_df = pd.DataFrame(crowdfunding_data)
crowdfunding_data.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [5]:
contact_data = pd.read_excel(contacts_data_to_read)
contact_df = pd.DataFrame(contact_data)
contact_data.head()

    This list of contacts was updated on 11/10/2020.
0  Note: The contact information needs to be sepa...
1
2                                       contact_info
3  {"contact_id": 4661, "name": "Cecilia Velasco"...
4  {"contact_id": 3765, "name": "Mariana Ellis", ...

In [6]:
contact_df['contact_info']

KeyError: 'contact_info'