In [1]:
import pandas as pd
import json

In [2]:
crowdfunding_data_to_read = "crowdfunding.xlsx"

In [3]:
contacts_data_to_read = "contacts.xlsx"

In [4]:
crowdfunding_data = pd.read_excel(crowdfunding_data_to_read)
crowdfunding_df = pd.DataFrame(crowdfunding_data)
crowdfunding_data.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [22]:
contact_data = pd.read_excel(contacts_data_to_read, header=3)
contact_data.head()

                                        contact_info
0  {"contact_id": 4661, "name": "Cecilia Velasco"...
1  {"contact_id": 3765, "name": "Mariana Ellis", ...
2  {"contact_id": 4187, "name": "Sofie Woods", "e...
3  {"contact_id": 4941, "name": "Jeanette Iannott...
4  {"contact_id": 2199, "name": "Samuel Sorgatz",...

In [17]:
contact_data['contact_info']

0      {"contact_id": 4661, "name": "Cecilia Velasco"...
1      {"contact_id": 3765, "name": "Mariana Ellis", ...
2      {"contact_id": 4187, "name": "Sofie Woods", "e...
3      {"contact_id": 4941, "name": "Jeanette Iannott...
4      {"contact_id": 2199, "name": "Samuel Sorgatz",...
                             ...
995    {"contact_id": 3684, "name": "Whitney Noack", ...
996    {"contact_id": 5784, "name": "Gelsomina Miglia...
997    {"contact_id": 1498, "name": "Evangelista Pere...
998    {"contact_id": 6073, "name": "Gareth Comolli",...
999    {"contact_id": 4939, "name": "Michelangelo Hes...
Name: contact_info, Length: 1000, dtype: object

In [19]:
import json
first_row = contact_data.iloc[0][0]
converted_data = json.loads(first_row)
for k,v in converted_data.items():
    print(k)
    print(v)

contact_id
4661
name
Cecilia Velasco
email
cecilia.velasco@rodrigues.fr

C:\Users\Austen\AppData\Local\Temp\ipykernel_34796\1783904835.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  first_row = contact_data.iloc[0][0]

In [20]:
cont_values = []
for i, row in contact_df.iterrows():
    data = row[0]
    conerted = json.loads(data)
    rowvalues = [v for k, v in converted.items()]
    cont_values.append(rowvalues)
print(cont_values)

C:\Users\Austen\AppData\Local\Temp\ipykernel_34796\1341792460.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  data = row[0]

JSONDecodeError: Expecting value: line 1 column 1 (char 0)